* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  background-color:white;

}

.grid-body {
  display: grid;
}

/* cabecera */
.grid-cabecera > * {
  text-align: center;
}

.header-menu {
  grid-area: header-menu;
  background-color: white;
  text-align: left;
  align-items: center;
}  

.header-logo {
  grid-area: header-logo;
  background-color: white;
}


.grid-cabecera {
  display: grid;
  gap: 10px;
  grid-template:
    "header-logo header-menu" auto;

} 


@media (min-width: 600px) {
  .grid-cabecera {
    grid-template:
      "header-logo header-menu header-menu header-menu" min-content;
  }
}

/* principal index */

.grid-container-index > * {
  /* box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px; */
  text-align: center;
}

.titulo {
  grid-area: titulo;
  background-color:white;
}

.a1 {
  grid-area: a1;
  background-color: white;
}  
.a2 {
  grid-area: a2;
  background-color: white;
}

.footer {
  grid-area: footer;
  background-color: #bbb7b7;
  text-align: center;
}



.grid-container-index {
  display: grid;
  gap: 10px;
  grid-template:
      "titulo" min-content
      "a1" 30%
      "a2" 30%
      "footer" auto; 
} 


@media (min-width: 360px) {
  .grid-container-index {
    min-height: max-content;
    grid-template:
      "titulo"  20%
      "a1" 60%
      "a2" 60%
      "footer"  20% 
  }
}

@media (min-width: 720px) {
  .grid-container-index {
    min-height: max-content;
    grid-template:
      "titulo titulo"  20%
      "a1 a2" 60%
      "footer footer"  20% 
  }
}

@media (min-width: 1200px) {
  .grid-container-index {
    min-height: max-content;
    grid-template:
      "titulo titulo"  20%
      "a1 a2" 60%
      "footer footer"  20% 
  }
}

/* Menu */

.menu {
  width: 100px;
  left: auto;
  position: relative;
  top: auto;
  width: auto;
  display: inline-block;
  margin: 0.5rem 0 2.5rem 1rem;
}

.menu ul {
  list-style: none;
}


.menu a {
  text-decoration: none;
  color: black;
}

.menu a:hover {
   color: #FF263F; 
}

.menu li {
  float: left;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem;
  font-size: larger;
}



/* principal etapas */

.grid-container-etapas > * {
  /* box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px; */
  text-align: center;
}


.ae1 {
  grid-area: ae1;
  background-color: #f5f5f5;
}  
.ae2 {
  grid-area: ae2;
  background-color: #f5f5f5;
}

.ae3 {
  grid-area: ae3;
  background-color: #f5f5f5;
}


.grid-container-etapas {
  display: grid;
  gap: 10px;
  grid-template:
    "ae1"
    "ae2"
    "ae3"
    "footer"; 
} 

@media (min-width: 600px) {
  .grid-container-etapas {
    grid-template:
      "ae1 ae2"
      "ae3 ae3"
      "footer footer"  auto 
  } 
}


/* Nosotros */

.grid-container-nosotros > {
 
  text-align: center;
} 

.titulo-nosotros{
  grid-area: titulo-nosotros;
  background-color:white;
  display: flex;
  align-items: center; 
  justify-content: center;
  
}  

.Descripcion {
  grid-area: Descripcion;
  background-color: white;
  /* display: flex; */
  text-align: center;

}  

.grid-container-nosotros {
  display: grid;
  gap: 10px;
  grid-template:
  "titulo-nosotros" auto
  "Descripcion" 60%
  "footer" 20%; 
} 

@media (min-width: 600px) {
  .grid-container-nosotros {

  background-color: white;
    grid-template:
      "titulo-nosotros" 30%
      "Descripcion" 50%
      "footer" 20%;
  } 
}

/* Formulario */

.grid-container-formulario > * {
  /* box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px; */
  text-align: center;
}

.Cuerpo{
  grid-area: Cuerpo;
  background-color: #f5f5f5;
}  

/*----------------------------------*/


.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

/*-----------------------------------*/


.grid-container-formulario {
  display: grid;
  gap: 10px;
  grid-template:
  "Cuerpo" 80%
  "footer" auto; 
} 

@media (min-width: 600px) {
  .grid-container-formulario {
    grid-template:
      "Cuerpo" auto
      "footer" 20%; 
  } 
}


/* Donde */

.grid-container-donde > * {
  /* box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px; */
  text-align: center;
}

.tit1{
  grid-area: tit1;
  background-color: #f5f5f5;
}  

.map {
  grid-area: map;
  background-color: #f5f5f5;
}  

.grid-container-donde {
  display: grid;
  gap: 10px;
  grid-template:
    "tit1" 10%
    "map" 60%
    "footer" 10%; 
} 

@media (min-width: 600px) {
  .grid-container-donde {
    grid-template:
      "tit1" 10%
      "map" auto
      "footer" auto;
  } 
}

/* Mejores alumnos */


.grid-container-mejor > * {
  /* box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px; */
  text-align: center;
}

.tm {
  grid-area: tm;
  background-color:white;
}

.m1 {
  grid-area: m1;
  background-color: white;
}  



.grid-container-mejor {
  display: grid;
  gap: 10px;
  grid-template:
      "tm" min-content
      "m1" 30%
      "footer" auto; 
} 


@media (min-width: 360px) {
  .grid-container-mejor {
    min-height: max-content;
    grid-template:
      "tm"  20%
      "m1" 60%
      "footer"  20% 
  }
}

@media (min-width: 720px) {
  .grid-container-mejor {
    min-height: max-content;
    grid-template:
      "tm"  20%
      "m1" 60%
      "footer"  20% 
  }
}


.alumno {
	font-size: 20px;
  font-style: bold;
	margin-bottom: 0;
	display: block;
} 

.alumnoEmail {
	font-size: 15px
	
} 

.fotoalumno{
	margin-bottom: 2px
  border-radius: 50%
  border-radius: 50%
  disp
} 

img.foto {
  border-radius: 50%;
}